################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw1/task1/.vs/task1/v16
/hw1/task1/Debug
/hw1/task2/.vs/task2/v16
/hw1/task2/Debug
/hw2/figures_compare/.vs/figures_compare/v16
/hw2/figures_compare/Debug
/hw2/math_formula/.vs/math_formula/v16
/hw2/math_formula/Debug
