[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/miktuy
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/miktuy
	label-Verified = -1..+1 group user/miktuy
	push = group user/miktuy
	read = group user/miktuy
	rebase = group user/miktuy
	removeReviewer = group user/miktuy
	submit = group user/miktuy
[access "refs/heads/*"]
	create = group user/miktuy
	push = +force group user/miktuy
	pushMerge = group user/miktuy
	read = group user/miktuy
[access "refs/tags/*"]
	push = group user/miktuy
	push = +force group user/miktuy
